body {
    background-image: url(./images/cat.png);
    background-size: cover;
}

div {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,
h2 {
    max-width: 550px;
    padding-left: 10px;
}

h2 {
    background-image: linear-gradient(to top, brown, rgba(255, 255, 255, 0.02));
    padding: 10px;
}